@model AirlineServices.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Airline Services</h1>
    <p class="lead">Solving all your flight and passenger management pains!</p>
    <p><a href="/Flights" class="btn btn-primary btn-lg">Search Flights &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Departing Flights</h2>
        <table class="table">
            <tr>
                <th>
                    Flight
                </th>
                <th>
                    Destination
                </th>
                <th>
                    Time
                </th>
            </tr>
            @foreach (var flight in Model.departingFlights)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => flight.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flight.source.airportCode) - @Html.DisplayFor(modelItem => flight.source.city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flight.departureDate)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">
        <h2>New Passengers</h2>
        <table class="table">
            @*<tr>
                <th>
                    Passenger
                </th>
            </tr>*@
            @foreach (var passenger in Model.newestPassengers)
            {
                <tr>
                    <td>
                       @Html.ActionLink(@Html.DisplayFor(modelItem => passenger.FullName).ToString(), "Details", "Passengers", new { passenger.id }, new { @class = "" })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">
        <h2>Recent Passengers</h2>
        <table class="table">
            @*<tr>
                <th>
                    Passenger
                </th>
            </tr>*@
            @foreach (var passenger in Model.recentlyUpdatedPassengers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@Html.DisplayFor(modelItem => passenger.FullName).ToString(), "Details", "Passengers", new { passenger.id }, new { @class = "" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>