@model IEnumerable<AirlineServices.Models.Plane>

@{
    ViewBag.Title = "Planes";
}

<h2>Plane Management</h2>

<p>
    @Html.ActionLink("Add Plane to Fleet", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tailNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstClassCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coachCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.economyCapacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tailNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstClassCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coachCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.economyCapacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tailNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.tailNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tailNumber })
        </td>
    </tr>
}

</table>
