@model AirlineServices.Models.Ticket

@{
    ViewBag.Title = "Refund";
}

<h2>Cancel</h2>

<h3>Are you sure you want to refund this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.flight.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flight.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passenger.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passenger.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            Refund Amount
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.RefundAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Refund" class="btn btn-default" /> |
            @Html.ActionLink("Back to Ticket list", "Index")
        </div>
    }
</div>
