@model AirlineServices.ViewModels.PayViewModel

@{
    ViewBag.Title = "Pay";
}

<h2>Pay</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


        <h4>Ticket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ticket.id)
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ticket.flight.id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ticket.flight.id)
            </dd>

            <dt>
                @Html.Label("Route")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ticket.flight.source.city) (@Html.DisplayFor(model => model.ticket.flight.source.airportCode)) to @Html.DisplayFor(model => model.ticket.flight.destination.city) (@Html.DisplayFor(model => model.ticket.flight.destination.airportCode))
            </dd>

            <dt>
                Passenger
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ticket.passenger.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ticket.TicketClassPrice)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.ticket.TicketClassPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ticket.AmountDue)
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.ticket.AmountDue)
            </dd>

        </dl>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.AmountToPay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountToPay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AmountToPay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Make Payment" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
